@import "src/styles/variables.scss";

.App {
  text-align: center;
  // margin: 14px;
}

.page-loading {
  height: 100vh;
  width: 100vw;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  background-color: blue;
  height: 30%;
  width: 50%;
  z-index: 1000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}