@import "src/styles/variables.scss";
@import url('http://fonts.cdnfonts.com/css/belinda');
@import url('http://fonts.cdnfonts.com/css/simple-brush-script');

.home {
  height: 600px;
  // background-color: green;
  color: bisque;
}

.title {
  
  font-size: 80px;
  font-family: 'Belinda', sans-serif;
  // font-family: 'Simple Brush Script', sans-serif;
}


