@import "src/styles/variables.scss";

.add-item-page {
  border: $test;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.add-item-form {
  border: $test;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.image-select {
  display: flex;
}